//- .__header.fixed.w-100p.top-0.z-9.h-8
//-   .flrnw.flral.h-100p.flc.mr-1
//-     //- Title
//-     .__title.fln.bold.white.text-5.h-8.pr-2.hidden.sm_flrnw.sm_flc.w-14
//-       a.block.h-100p.flcnw.flc.ml-1(href='./').nodesto.text-8=headerTitle
//-     //- Searchbar
//-     .__searchboxContainer.pl-1.md_pl-0.fla.flrnw.flrcv.h-100p.relative
//-       .__poweredBy.hidden.lg_flex
//-         .fln Search powered by
//-         a.fln.ml-01.bold.hover_underline.pointer-events-auto(href=`https://www.algolia.com/?utm_source=instantsearch.js&utm_medium=website&utm_content=${url.base}&utm_campaign=poweredby`) Algolia
//-       #searchbox.w-100p
//-     //- Search filters swapper
//-     label.pointer.white.hover_red-7.ml-2.md_hidden(for="sidebar_checkbox")
//-       .h-5.w-5
//-         //- include /_includes/svg/sliders

