block content
  .relative.h-100p
    .absolute.z-2.top-0.bottom-0.opacity-0.hover_opacity-100p.bg-black.bg-opacity-75p
      .flex.flex-center.h-100p
        .white.italic.text-1.text-center
          |Create your logo template in 
          a.underline(href="https://github.com/pixelastic/norska-theme-search/blob/master/src/_includes/templates/logo.pug") ./src/_includes/templates/logo.pug
    a.flex.flex-center.h-100p(href=url.pathToRoot)
      .text-7 My Search
