doctype html
html(lang='en')
  +norska_head
  body.debu
    .fixed.top-0.left-0.right-0.h-8.bg-gray-9.white
      .flex.w-100p.h-100p
        a.flex-none.w-15(href=url.pathToRoot)
          !=data.themeMethods.template('header', { include })
        .w-100p.flex.items-center.p-1
          .w-100p#searchbox

    .mt-8.flex.flex-no-wrap
      .flex-none.w-15.p-1
        include ../templates/sidebar
      .flex-1.p-1
        #hits
        block content

    textarea#hitTemplate(hidden)
      include ../templates/hit
    textarea#emptyTemplate(hidden)
      include ../templates/empty

  script!=`window.CONFIG = ${JSON.stringify(data.config)}`
  +norska_scripts
