doctype html
html(lang='en')
  +norska_head
  body.arial
    .__header.theme-header.fixed.z-2.top-0.left-0.right-0.h-8.bg-gray-9.white
      .flex.w-100p.h-100p
        a.flex-none.w-15.hidden.sm_block(href=url.here)
          !=data.themeMethods.template('logo', { include })
        .w-100p.flex.items-center.pr-1
          .w-100p#searchbox

    .mt-8.flex.flex-no-wrap.z-1
      .__sidebar.flex-none.w-15.bg-gray-2.border-r-001.border-black.border-opacity-25p
        include ../templates/sidebar

        //- .__sidebar.hidden.md_block.absolute.md_relative.z-1.w-100p.h-100p.bg-gray-2.bg-opacity-90p.md_fln.md_w-14
        //-   .md_border-r-001.border-black.border-opacity-25p.bg-opacity-100p
      .flex-1.p-01.bg-gray-3
        #hits
        #pagination.mt-1
        block content

    textarea#hitTemplate(hidden)
      include ../templates/hit
    textarea#emptyTemplate(hidden)
      include ../templates/empty

  +norska_scripts
