mixin svg_sliders(attributes) 
  svg(class=attributes.class xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke-width="2" stroke-linecap="round" stroke-linejoin="round")
    line(x1="4" y1="21" x2="4" y2="14")
    line(x1="4" y1="10" x2="4" y2="3")
    line(x1="12" y1="21" x2="12" y2="12")
    line(x1="12" y1="8" x2="12" y2="3")
    line(x1="20" y1="21" x2="20" y2="16")
    line(x1="20" y1="12" x2="20" y2="3")
    line(x1="1" y1="14" x2="7" y2="14")
    line(x1="9" y1="8" x2="15" y2="8")
    line(x1="17" y1="16" x2="23" y2="16")

mixin svg_search(attributes) 
  svg(class=attributes.class xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
    path(d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z")

mixin svg_hamburger(attributes) 
  svg(class=attributes.class xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
    path(d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z")

mixin svg_close(attributes) 
  svg(class=attributes.class xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20")
    path(d="M10 8.586L2.929 1.515 1.515 2.929 8.586 10l-7.071 7.071 1.414 1.414L10 11.414l7.071 7.071 1.414-1.414L11.414 10l7.071-7.071-1.414-1.414L10 8.586z")



